/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import 'vanilla-calendar-pro/styles/index.css';

[data-vc-theme='light'] .vc-date[data-vc-date-selected][data-vc-date-month='next'] .vc-date__btn {
  background-color: rgb(6 182 212 / var(--tw-bg-opacity)) !important;
  color: #fff !important;
}
