/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import 'vanilla-calendar-pro/styles/index.css';

.vc-date[data-vc-date-disabled]:not(.vc-date[data-vc-date-selected]) .vc-date__btn {
  color: #0f172a;
}

.vc-date[data-vc-date-selected][data-vc-date-month='next'] .vc-date__btn {
  color: #fff !important;
}

.vc-date[data-vc-date-selected='first'][data-vc-date='2026-07-26'] .vc-date__btn {
  background: linear-gradient(
    135deg,
    rgb(6 182 212 / 0.5) 50%,
    rgb(6 182 212 / var(--tw-bg-opacity)) 50%
  ) !important;
}

.vc-date[data-vc-date-selected='middle'] .vc-date__btn {
  background-color: rgb(6 182 212) !important;
}

.vc-date[data-vc-date-selected='last'][data-vc-date='2026-08-02'] .vc-date__btn {
  background: linear-gradient(
    135deg,
    rgb(6 182 212 / var(--tw-bg-opacity)) 50%,
    rgb(6 182 212 / 0.5) 50%
  ) !important;
}

iframe {
  height: calc(100vh - 200px);
}
